<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>53309382146-tmgu3t4subag6te8k39p3bu4aqgprs4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53309382146-tmgu3t4subag6te8k39p3bu4aqgprs4n</string>
	<key>API_KEY</key>
	<string>AIzaSyBaf7WDKkCunb21Ze23TiKYSQ_d69HETNM</string>
	<key>GCM_SENDER_ID</key>
	<string>53309382146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizzysystems.RideServe</string>
	<key>PROJECT_ID</key>
	<string>rideserve-50c0e</string>
	<key>STORAGE_BUCKET</key>
	<string>rideserve-50c0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53309382146:ios:95fed02e6e7405d9</string>
	<key>DATABASE_URL</key>
	<string>https://rideserve-50c0e.firebaseio.com</string>
</dict>
</plist>